/* Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557 */

:root{
    --red:#f4978e;
    --light:#c7f9cc;
    --aqua:#A8DADC;
    --LIGHTBLUE: #48cae4;
    --DARKBLUE: #cfbaf0;
}


body {
    margin: 0 auto;
    text-align: center;
    color: var(--light);    
    text-shadow: 0px 0px 1px black;
    font-family: 'Passions Conflict', cursive;
    /* background: linear-gradient(#48cae4, #f4978e); */
}

#Hero {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    background-image: url("Images/palace12.jpg");
    background-size: cover; 
    padding: 230px 0 230px 0;
    margin-bottom: 0px;
    height: 490px;
}
#Hero-title{
    margin: 30px;
    background:#8a8a5c00;
    padding: 15px 20px;
    border-radius: 14px;
    
}

#Hero-title2{
    margin: 30px;
    background:#a8dadc00;
    padding: 15px 20px;
    border-radius: 14px;
}


img {
    width: 500px;
}

#top-places{
    color:var(--light);
    background:rgb(0, 0, 0);
}

.top-banner{
    background-image: linear-gradient(95deg, #5c5c8a 3%, #9a6e8d 35%, #bc865c 65%, #7f847b 85%, #5c5c8a 96%)    ;
    height: 50px;
}
.top-banner h1{
    margin: auto 0px;
    padding: 6px;
    text-shadow: 0 0 3px white;
}

#activities{
    /*middle section pictures of activities with descriptions
    need this so that a background color shows beyond the 
    box constraining the activities*/
     background: var(--light);
 }
 .activities-box{
     /*this box constrains the activity columns to match
     the width of the hero section*/
     display: flex;
     justify-content: space-around;
     align-items: start;
 /*keep same width as banner picture*/
     width: 1024px;
     margin:auto;
     padding: 60px 0px;
     background: var(--light);
     color: var(--DARKBLUE);
 }
 .activity{
     /*each activity picture and description section*/
     width: 250px;
 }
 .activity-img{
     /*individual activity image designed to be in a round circle*/
     border-radius: 10%;
     width: 150px;
 }
 
 .avatar {
    width: 130px;
}

img:hover{
    background-color: var(--light);
    transform: scale(2.05);
    transition: all ease ;
    border-radius: 15px;
}

.card {
    width: 400px;
    margin: 15px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #b0adcf;
    color: #212529;
    border-bottom: 10px solid #9c9d9c;
    box-shadow: 10px 10px #ced2d7;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border-radius: 30px;
}

p{
    text-shadow:0px 0px 1px black;
}

#card{
background-image: linear-gradient(177deg, #5c5c8a 3%, #9a6e8d 35%, #bc865c 65%, #7f847b 85%, #5c5c8a 96%);
height: 230px;
margin-top: -17px;
}